/* Filter style */
	/* reset bootstrap style */
	.touristtravel-find .row{margin-left: -5px; margin-right: -5px;}
	.touristtravel-find .col-md-6, 
	.touristtravel-find .col-lg-6{ padding-left: 5px; padding-right: 5px;}

.touristtravel-find-wrap{padding: 40px 30px; background-color: #333; color: #fff;}
.touristtravel-find input{ width: 100%; max-width: 100%; font-size: 10px; color: #aaaaaa; border:0;}
.touristtravel-find input[type="text"]{ background-color: #fff;}
.touristtravel-find input[type="date"],
.touristtravel-find input.date,
.touristtravel-find .date{background-color: #444;}

.touristtravel-find .calendar{ position: relative;}
.touristtravel-find .calendar i{ position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}

.touristtravel-find button{ font-size: 11px !important; color: #333 !important; line-height: normal !important; height: 34px !important; padding:5px 10px !important; background-color: #fff !important; -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -ms-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s; transition: all 0.3s linear 0s; border: 0 !important;}
.touristtravel-find button:hover{ background-color: #444 !important; color: #aaa !important;}


.touristtravel-intro-wrap{ margin: 100px 0 0 0;}
.touristtravel-intro{ margin: 0 0 50px 0;}
.touristtravel-intro > h3{ font-size: 18px; text-transform: uppercase; color: #333333;}
.touristtravel-intro > h3 > span{ position: relative; display: inline-block; padding: 0 30px;}
.touristtravel-intro > h3 > span:before,
.touristtravel-intro > h3 > span:after{ width: 20px; height: 1px; display: block; content: ""; background-color: #333; position: absolute;top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.touristtravel-intro > h3 > span:before{left: 0;}
.touristtravel-intro > h3 > span:after{right: 0;}

.touristtravel-intro > span{ font-size: 10px; color: #888; text-transform: uppercase;}
.touristtravel-content { position: relative;}
.touristtravel-content .item .tour-image{ position: relative;}
.touristtravel-content .item .tour-image img{ width: 100%; max-width: 100%;}
.touristtravel-content .item .overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    -webkit-transition:all 0.3s linear 0s;
       -moz-transition:all 0.3s linear 0s;
        -ms-transition:all 0.3s linear 0s;
         -o-transition:all 0.3s linear 0s;
            transition:all 0.3s linear 0s;
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.touristtravel-content .item .overlay .overlay-content{
    position: absolute;
    top: 50%;
    padding: 10px;
    width: 100%;
    text-align: center;
    -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
         -o-transform:translateY(-50%);
            transform:translateY(-50%);
}

.touristtravel-content .item .overlay .overlay-content i{font-size: 30px; color: #fff;}

.touristtravel-content .item .tour-content{ margin: 25px 0 0 0;}
.touristtravel-content .item .tour-content .tour-info,
.touristtravel-content .item .tour-content .tour-info a{ font-size: 11px; color: #878787; text-transform: uppercase;}
.touristtravel-content .item .tour-content .tour-info + .tour-title{ margin-top: 5px;}
.touristtravel-content .item .tour-content .tour-title,
.touristtravel-content .item .tour-content .tour-title a{ font-size: 13px; color: #333; text-transform: uppercase;}
/* Hover state */
.touristtravel-content .item:hover .overlay{
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
         -o-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
}
/* Loading */
.touristtravel-content .loading {
  -webkit-animation: spin 1.5s 0s linear infinite;
  -webkit-transform: ;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes bouble {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
  0% {
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes gradient {
  0% {
    background-color: #e3e33b;
  }
  50% {
    background-color: #e33b65;
  }
  100% {
    background-color: #3b8fe3;
  }
}
.touristtravel-content .loading:after,
.touristtravel-content .loading:before {
  -webkit-transform: scale(0);
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 400px;
}
.touristtravel-content .loading:after {
  -webkit-animation: bouble 0.75s 0s ease-in-out infinite alternate, gradient 1.5s 0s ease-in-out infinite alternate;
  top: 0;
  left: 0;
}
.touristtravel-content .loading:before {
  -webkit-animation: bouble 0.75s 0.75s ease-in-out infinite alternate, gradient 1.5s 0s ease-in-out infinite alternate;
  bottom: 0;
  right: 0;
}
/* Loading */